
body {
    overflow-x:hidden;
    font-family: Source Sans Pro;
    a {
        text-decoration: none;
        color:$c-main;
    }
    li { 
        list-style: none; 
    }
    h1, h2, h3, h4, h5, h6 {
        margin:0;
        font-size:1em;
        font-weight: 400;
    }
    .index-page h1, .index-page h2, .index-page h3, .index-page h4, .index-page h5, .index-page h6 {
        margin:0;
        font-size:1em;
        font-weight: 400;
    }
}