.header {
	svg {
	    margin: 0 auto;
	    display: block;
	    max-width: 20vw;
	    fill: none;
	    position: absolute;
	    stroke-width: 1px;
	    stroke: $c-main;
	    right: 10vw;
	    top: 2em;
	}
	a.home-link {
		display: block;
		position: absolute;
		left:5vw;
		top:5vw;
		z-index: 99;
		padding:.5vh 2vw;
		font-weight: 400;
		color:$c-main;
		transition: color .5s ease-in-out, border-color 2s ease-in-out;
		border:3px solid #fff;
		&:hover {
			color:#fff;
			border:3px solid $c-main;
		}
	}
}