
.index-page {

    .index-header {
        background-image:url(../img/landing-img.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size:contain;
        h1 {
            font-size: 2.2em;
            font-weight: 500;
            color: #000;
            line-height: 11vh;
            padding: 10vh 10vw 20vh 10vw;
            width: 60%;
            cursor: default;
            text-transform: uppercase;
            letter-spacing: 5vw;
            cursor: 
            span {
                font-size:.6em;
            }
        }
    }
    ul.post-list {
        padding:3em 0;

        li.item {
            margin: 0 0 2.5em 0;
        }

        h2 {
            font-weight: 500;
            display: inline;
            span.post-title {
                font-size: 1.6em;
                font-weight: 600;
            }
            span.post-subtitle {
                font-size: 1.5em;
                display: inline-block;
                padding:.25em 0 0 0;
            }
            a {
                color:#000;
                transition:all .25s;
                &:hover {
                    color:tan;
                }
            }
        }
        span.post-date {
            color:#bbb;
            font-size:1.3em;
            display: block;
            margin:.25em 0 0 0;
        }
    }
}

