
body {
    overflow-x:hidden;
    font-family: Source Sans Pro;
    a {
        text-decoration: none;
        color:tan;
    }
    li { list-style: none; }
}
h1 {
    font-size: 2.2em;
    font-weight: 500;
    color: #000;
    line-height: 11vh;
    padding: 10vh 10vw 20vh 10vw;
    width: 60%;
    text-transform: uppercase;
    letter-spacing: 5vw;
    border-right: 1vh solid #000;
    cursor: 
    span {
        font-size:.6em;
    }
}
.container {
    width:100%;
    max-width:60em;
    margin:0 auto;
}

// INDEX 
.index-page {
    .post-list {
        padding:3em 0;
    }
    h2 {
        font-size:2em;
        font-weight: 500;
        display: inline;
        a {
            color:#000;
            transition:all .5s ease;
            &:hover {
                color:tan;
            }
        }
    }
    span.date {
        color:#aaa;
        font-weight:300;
        font-size:2em;
        padding:0 0 0 1em;
    }
}

// Post Page
.post-header {
    span.date {
        color:#aaa;
        font-weight:300;
        font-size:2em;
        padding:0 0 0 1em;
    }
}
article.post-content {
    font-size: 1.3em;
    line-height: 2em;
    color: #4E4E4E;
    p, ul {
        margin:0 0 2em 0;
    }
    p.quote {
        color: #9E9E9E;
        font-size: .9em;
        font-style: italic;
        padding: 0 0 0 2em;
        position: relative;
        top: -.5em;
        span.source {
            display: block;
            font-size:.8em;
            text-align: right;
        }
    }
}



















