---
layout: default
---
<div class="post">
	<div class="container">
	  <header class="post-header">
	    <h1 class="post-title">
            <span class="post-title">{{ post.title }}</span>
            <br>
            <span class="post-subtitle">{{ post.subtitle }}</span>
        <h1>
	    <span class="date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	  </header>

	  <article class="post-content">
	    {{ content }}
	  </article>
	</div>
</div>
